<section class= 'hero'>
  <div class='hero-body'>
    <div class='container'>
      <table class='table is-bordered, is-hoverable, is-fullwidth'>


        <tbody>
          <% @lists.each do |list| %>


            <% if list.completed %>
              <tr class= 'fundo'>
                <td class='striker'><%= link_to list.description, edit_list_path(list) %></td>
                <td>
                  <center>
                    <%= form_for(list) do |f| %>
                    <%= f.text_field :description, type: 'hidden' %>
                    <%= f.check_box :completed, :checked => false, :style => 'visibility: hidden' %>
                    <%= f.submit "Uncross", class: 'button is-primary is-outlined is-small' %>
                    <% end %>
                  </center>
                </td>
                <td><%= link_to 'Delete', list, class: 'button is-danger is-outlined is-small', method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% else %>
              <tr>
                <td><%= link_to list.description, edit_list_path(list) %></td>
                <td>
                  <center>
                    <%= form_for(list) do |f| %>
                    <%= f.text_field :description, type: 'hidden' %>
                    <%= f.check_box :completed, :checked => true, :style => 'visibility: hidden' %>
                    <%= f.submit "Cross", class: 'button is-info is-outlined is-small' %>
                    <% end %>
                  </center>
                </td>
                <td><%= link_to 'Delete', list, class: 'button is-danger is-outlined is-small', method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <br>
        <%= link_to 'Delete Marked Items', home_trash_em_path, data: { confirm: 'Are you sure?' }%> |
        <%= link_to 'Delete All Items', home_trash_em_all_path, data: { confirm: 'Are you sure?' }%>

    </div>
  </div>
</section>
